<head>
    <title>Annual Lineworkers Rodeo Scoring | {{#each arrays}} {{title}} {{/each}}</title>
    {{> main/head-block}}
    <!-- competitors page js script -->
    <script type="text/javascript" src="/assets/js/comp.js"></script>
</head>
<body class="background mx-auto">

    {{#each arrays}}
        {{> main/title-block}}
    {{/each}}

    <main>

        <section class="container mx-auto text-center">

            <p class="subtitle mx-auto">Competition Year</p>
            <hr class="line large mx-auto">
            <select id="year-select" class="full mx-auto">
                {{#each arrays}}
                    {{#each years}}
                        {{> year/year-block}}
                    {{/each}}
                {{/each}}
            </select>
            
        </section>
    
        <section id="view-section" class="container mx-auto text-center">

            <p class="subtitle mx-auto">View/Edit Competitors</p>

            <hr class="line full mx-auto">

            <div id="view-dynamic-comp-select"></div>
            
            <div id="view-dynamic-comp-info"></div>

        </section>

        <section id="add-section" class="container mx-auto text-center">

            <p class="subtitle mx-auto">Add Competitors</p>

            <hr class="line full mx-auto">

            <p class="subtitle mx-auto">Select Competition Tier</p>
            
            <select id="tier-select" class="full mx-auto">
                {{#each arrays}}
                    {{#each tiers}}
                        {{> year/tier-block}}
                    {{/each}}
                {{/each}}
            </select>

            <div id="add-dynamic-comp-info"></div>

        </section>

    </main>

</body>