<head>
    <title>Annual Lineworkers Rodeo Scoring | {{#each arrays}} {{title}} {{/each}}</title>
    {{> main/head-block}}
    <!-- competitors page js script -->
    <script type="text/javascript" src="/assets/js/comp.js"></script>
</head>
<body class="background">

    {{#each arrays}}
        {{> main/title-block}}
    {{/each}}

    <main class="main-container mx-auto text-center">

        <p class="item-title mx-auto">Competitor Number</p>
        <input id="compNumber" type="text" />

        <p class="item-title mx-auto">First Name</p>
        <input id="firstName" type="text" />

        <p class="item-title mx-auto">Last Name</p>
        <input id="lastName" type="text" />

        <p class="item-title mx-auto">Organization Name</p>
        <input id="orgName" type="text" />

        <p class="item-title mx-auto">Team Name</p>
        <input id="teamName" type="text" />

        <p class="item-title mx-auto">Competitor Type</p>
        <select id="compType">
            {{#each arrays}}
                {{#each tiers}}
                    {{> year/tier-block}}
                {{/each}}
            {{/each}}
        </select>

        <p class="item-title mx-auto">Competition Year</p>
        <input id="compYear" type="text"  />

    </main>

    <section class="main-container mx-auto text-center">

        <div class="row mx-auto text-center">

            <button class="nav-button mx-auto" id="compPrev"><</button>
            <button class="nav-button mx-auto" id="compAdd">+</button>
            <button class="nav-button mx-auto" id="compNext">></button>
        
        </div>

    </section>

    <section class="main-container mx-auto text-center">

        <button class="button" id="compSaveButton">Save Changes</button>

    </section>

    {{> main/nav-menu-block}}

</body>