<header class="header-container mx-auto">
    <div class="row">
        <h1 class="title mx-auto">Annual Lineworkers Rodeo Scoring</h1>
    </div>
    <img class="logo row mx-auto" src="assets/images/logo.png" alt="Santee Cooper logo" /> 
</header>

<nav class="main-container mx-auto">
    <button class="button" id="year">Year Setup</button>
    <button class="button" id="comp">Competitor Entry</button>
    <button class="button" id="score">Score Entry</button>
    <button class="button" id="rep">Reports</button>
    <button class="button" id="help">Instructions</button>
</nav>