<head>
  <title>Annual line fullworkers Rodeo Scoring | {{title}}</title>
  {{> main/head-block}}
</head>

<body class="background mx-auto">

  {{> main/title-block}}

  <main class="container mx-auto">
      <div class="subtitle mx-auto">View / Edit</div>
      <hr class="line full mx-auto">
      </hr>
      <p class="text mx-auto">
        Add or Update Tiers, Events, Competition Years, and Organizations
      </p>
      <div class="subtitle mx-auto">Year Setup</div>
      <hr class="line full mx-auto">
      </hr>
      <p class="text mx-auto">
        Add Active Tiers and Events for a Competition Year
      </p>
      <div class="subtitle mx-auto">Competitors</div>
      <hr class="line full mx-auto">
      </hr>
      <p class="text mx-auto">
        Add or Update Competitor Information
      </p>
      <div class="subtitle mx-auto">Scores</div>
      <hr class="line full mx-auto">
      </hr>
      <p class="text mx-auto">
        Input Event Scores for Competitors
      </p>
      <div class="subtitle mx-auto">Reports</div>
      <hr class="line full mx-auto">
      </hr>
      <p class="text mx-auto">
        View Results and Generate Reports
      </p>
  </main>

</body>