<header class="header-container mx-auto">

    <h1 class="title mx-auto">Instructions</h1>
    
    <img class="logo row mx-auto" src="/assets/images/logo.png" alt="Santee Cooper logo" /> 

</header>

<main class="main-container mx-auto text-center">

    <p class="item-title mx-auto">Competitor Number</p>
    <input id="" type="text" placeholder="" />

    <p class="item-title mx-auto">First Name</p>
    <input id="" type="text" placeholder="" />

    <p class="item-title mx-auto">Last Name</p>
    <input id="" type="text" placeholder="" />

    <p class="item-title mx-auto">Organization Name</p>
    <input id="" type="text" placeholder="" />

    <p class="item-title mx-auto">Team Name</p>
    <input id="" type="text" placeholder="" />

    <p class="item-title mx-auto">Competitor Type</p>
    <select id="">
        <option value="">Apprentice</option>
        <option value="">Journeyman</option>
    </select>

    <p class="item-title mx-auto">Competition Year</p>
    <input id="" type="text" placeholder="" value="2020" />

    <button class="button" id="year">Save Changes</button>

    <div class="row mx-auto text-center">

        <button class="nav-button mx-auto" id=""><</button>
        <button class="nav-button mx-auto" id="">+</button>
        <button class="nav-button mx-auto" id="">></button>
    
    </div>
    
</main>

<nav class="main-container mx-auto text-center">
    
    <button class="button" id="home">Home</button>
    <button class="button" id="year">Year Setup</button>
    <button class="button" id="comp">Competitor Entry</button>
    <button class="button" id="score">Score Entry</button>
    <button class="button" id="rep">Reports</button>
    <button class="button" id="help">Instructions</button>

</nav>