<head>
    <title>Annual Lineworkers Rodeo Scoring | {{title}}</title>
    {{> main/head-block}}
    <!-- reports page js script -->
    <script type="text/javascript" src="/assets/js/report.js"></script>
</head>
<body class="background mx-auto">

    {{#each arrays}}
        {{> main/title-block}}
    {{/each}}

    <main>

        <section class="container mx-auto text-center">

            <p class="text mx-auto">Select Competition Year</p>
            
            <select id="year-select" class="full mx-auto">
                {{#each arrays}}
                    {{#each years}}
                        {{> year/year-block}}
                    {{/each}}
                {{/each}}
            </select>

            <p class="text mx-auto">Select Report Type</p>

            <select id="report-select" class="full mx-auto">
                <option value="0">View Awards Layout (Top 3)</option>
                <option value="1">View All Results</option>
            </select>

            <p class="text mx-auto">Select Organization</p>

            <select id="org-select" class="full mx-auto"></select>

            <p class="text mx-auto">Select Competition Tier</p>

            <select id="tier-select" class="full mx-auto"></select>


            <p class="text mx-auto">Select Event/Overall</p>

            <select id="event-select" class="full mx-auto"></select>
        
        </section>

        <section class="mx-auto text-center">

          <a id="print" class="button blue mx-auto" href="/api/retrieve-report/" target="_blank">Create pdf</a>

            {{!-- <button id="print" class="button blue mx-auto">Create pdf</button> --}}

        </section>

        <section id="dynamic" class="container mx-auto text-center"></section>

    </main>

</body>