<head>
    <title>Annual Lineworkers Rodeo Scoring | {{title}}</title>
    {{> main/head-block}}
    <!-- reports page js script -->
    <script type="text/javascript" src="/assets/js/report.js"></script>
</head>
<body class="background">

    {{> main/title-block}}

    <main class="main-container mx-auto text-center">
        
        <p class="item-title mx-auto">Competition Year:</p>
        <input class="mx-auto" id="" type="number" placeholder="2020" />

        <div class="row mx-auto text-center">
            <button class="button mx-auto" id="home">View Top 3</button>
            <button class="button mx-auto" id="home">View by Organization</button>
            <button class="button mx-auto" id="home">View by Type</button>
            <button class="button mx-auto" id="home">View by Tier</button>
            <button class="button mx-auto" id="home">View by Competitor</button>
            <button class="button mx-auto" id="home">Generate Report</button>
        </div>

    </main>

    <section class="main-container mx-auto text-center">

        <p class="item-title mx-auto">Select An Option</p>
        <select id="tier-input">
            <option>First Name Last Name</option>
            <option>Organization</option>
            <option>Tier</option>
            <option>Type</option>
            <option>Team</option>
        </select>

        <button class="button" id="year-enter">Update Report</button>

    </section>

    <section class="main-container mx-auto text-center">

        <p class="mini-title mx-auto">Event 1</p>

        <div class="main-container mx-auto">

            <p class="mini-title mx-auto">First Place</p>

            <p class="item-title mx-auto">John Smith</p>
            <p class="item-title mx-auto">Black River Electric Coop</p>
            <p class="item-title mx-auto">98</p>
            <p class="item-title mx-auto">25:58</p>

        </div>

        <div class="main-container mx-auto">

            <p class="mini-title mx-auto">Second Place</p>

            <p class="item-title mx-auto">John Smith</p>
            <p class="item-title mx-auto">Black River Electric Coop</p>
            <p class="item-title mx-auto">98</p>
            <p class="item-title mx-auto">25:58</p>

        </div>

        <div class="main-container mx-auto">

            <p class="mini-title mx-auto">Third Place</p>

            <p class="item-title mx-auto">John Smith</p>
            <p class="item-title mx-auto">Black River Electric Coop</p>
            <p class="item-title mx-auto">98</p>
            <p class="item-title mx-auto">25:58</p>

        </div>

    </section>

    <section class="main-container mx-auto text-center">

        <p class="mini-title mx-auto">Event 2</p>

        <div class="main-container mx-auto">

            <p class="mini-title mx-auto">First Place</p>

            <p class="item-title mx-auto">John Smith</p>
            <p class="item-title mx-auto">Black River Electric Coop</p>
            <p class="item-title mx-auto">98</p>
            <p class="item-title mx-auto">25:58</p>

        </div>

            <div class="main-container mx-auto">

            <p class="mini-title mx-auto">Second Place</p>

            <p class="item-title mx-auto">John Smith</p>
            <p class="item-title mx-auto">Black River Electric Coop</p>
            <p class="item-title mx-auto">98</p>
            <p class="item-title mx-auto">25:58</p>

        </div>

        <div class="main-container mx-auto">

            <p class="mini-title mx-auto">Third Place</p>

            <p class="item-title mx-auto">John Smith</p>
            <p class="item-title mx-auto">Black River Electric Coop</p>
            <p class="item-title mx-auto">98</p>
            <p class="item-title mx-auto">25:58</p>

        </div>

    </section>

    <section class="main-container mx-auto text-center">

        <p class="mini-title mx-auto">Overall</p>

        <div class="main-container mx-auto">

            <p class="mini-title mx-auto">First Place</p>

            <p class="item-title mx-auto">John Smith</p>
            <p class="item-title mx-auto">Black River Electric Coop</p>
            <p class="item-title mx-auto">98</p>
            <p class="item-title mx-auto">25:58</p>

        </div>

        <div class="main-container mx-auto">

            <p class="mini-title mx-auto">Second Place</p>

            <p class="item-title mx-auto">John Smith</p>
            <p class="item-title mx-auto">Black River Electric Coop</p>
            <p class="item-title mx-auto">98</p>
            <p class="item-title mx-auto">25:58</p>

        </div>

        <div class="main-container mx-auto">

            <p class="mini-title mx-auto">Third Place</p>

            <p class="item-title mx-auto">John Smith</p>
            <p class="item-title mx-auto">Black River Electric Coop</p>
            <p class="item-title mx-auto">98</p>
            <p class="item-title mx-auto">25:58</p>

        </div>

    </section>

    {{> main/nav-menu-block}}

</body>