<header class="header-container mx-auto">
    
    <h1 class="title mx-auto">Score Entry</h1>
    
    <img class="logo row mx-auto" src="/assets/images/logo.png" alt="Santee Cooper logo" /> 

</header>

<main class="main-container mx-auto text-center">
    
    <p class="item-title mx-auto">Competitor Number:</p>
    <input class="mx-auto" id="" type="text" placeholder="A101" />
    <p class="item-title mx-auto">Competitor Type:</p>
    <input class="mx-auto" id="" type="text" placeholder="Apprentice" />
    <p class="item-title mx-auto">Competition Year:</p>
    <input class="mx-auto" id="" type="number" placeholder="2020" />

</main>
 
<section class="main-container mx-auto text-center">

    <div class="row mx-auto text-center">

        <button class="nav-button mx-auto" id=""><</button>
        <button class="nav-button mx-auto" id="">+</button>
        <button class="nav-button mx-auto" id="">></button>
    
    </div>
    
</section>

<section class="main-container mx-auto text-center">
    
    <p class="mini-title mx-auto">Event 1</p>

    <div class="row mx-auto">
        <p class="score-title mx-auto">Score</p>
        <p class="score-title mx-auto">Minutes</p>
        <p class="score-title mx-auto">Seconds</p>
    </div>

    <div class="row mx-auto">
        <input class="score-input mx-auto" id="score" type="text" placeholder="100" />
        <input class="score-input mx-auto" id="time-min" type="text" placeholder="10" />
        <input class="score-input mx-auto" id="time-sec" type="text" placeholder="59" />
    </div>

</section>

<section class="main-container mx-auto text-center">
    
    <p class="mini-title mx-auto">Event 2</p>

    <div class="row mx-auto">
        <p class="score-title mx-auto">Score</p>
        <p class="score-title mx-auto">Minutes</p>
        <p class="score-title mx-auto">Seconds</p>
    </div>

    <div class="row mx-auto">
        <input class="score-input mx-auto" id="score" type="text" placeholder="100" />
        <input class="score-input mx-auto" id="time-min" type="text" placeholder="10" />
        <input class="score-input mx-auto" id="time-sec" type="text" placeholder="59" />
    </div>

</section>

<section class="main-container mx-auto text-center">
    
    <p class="mini-title mx-auto">Event 3</p>

    <div class="row mx-auto">
        <p class="score-title mx-auto">Score</p>
        <p class="score-title mx-auto">Minutes</p>
        <p class="score-title mx-auto">Seconds</p>
    </div>

    <div class="row mx-auto">
        <input class="score-input mx-auto" id="score" type="text" placeholder="100" />
        <input class="score-input mx-auto" id="time-min" type="text" placeholder="10" />
        <input class="score-input mx-auto" id="time-sec" type="text" placeholder="59" />
    </div>

</section>

<section class="main-container mx-auto text-center">
    
    <p class="mini-title mx-auto">Event 4</p>

    <div class="row mx-auto">
        <p class="score-title mx-auto">Score</p>
        <p class="score-title mx-auto">Minutes</p>
        <p class="score-title mx-auto">Seconds</p>
    </div>

    <div class="row mx-auto">
        <input class="score-input mx-auto" id="score" type="text" placeholder="100" />
        <input class="score-input mx-auto" id="time-min" type="text" placeholder="10" />
        <input class="score-input mx-auto" id="time-sec" type="text" placeholder="59" />
    </div>

</section>

<section class="main-container mx-auto text-center">
    
    <p class="mini-title mx-auto">Event 5</p>

    <div class="row mx-auto">
        <p class="score-title mx-auto">Score</p>
        <p class="score-title mx-auto">Minutes</p>
        <p class="score-title mx-auto">Seconds</p>
    </div>

    <div class="row mx-auto">
        <input class="score-input mx-auto" id="score" type="text" placeholder="100" />
        <input class="score-input mx-auto" id="time-min" type="text" placeholder="10" />
        <input class="score-input mx-auto" id="time-sec" type="text" placeholder="59" />
    </div>

</section>

<section class="main-container mx-auto text-center">
    
    <button class="button" id="year">Save Changes</button>

</section>

<nav class="main-container mx-auto text-center">
    
    <button class="button" id="home">Home</button>
    <button class="button" id="year">Year Setup</button>
    <button class="button" id="comp">Competitor Entry</button>
    <button class="button" id="score">Score Entry</button>
    <button class="button" id="rep">Reports</button>
    <button class="button" id="help">Instructions</button>

</nav>