<head>
    <title>Annual Lineworkers Rodeo Scoring | {{title}}</title>
    {{> main/head-block}}
    <!-- scores page js script -->
    <script type="text/javascript" src="/assets/js/score.js"></script>
</head>
<body class="background">

    {{> main/title-block}}

    <main class="main-container mx-auto text-center">
        
        <p class="item-title mx-auto">Competitor Number:</p>
        <input class="mx-auto" id="scoreCompNumber" type="text" placeholder="A101" />
        <p class="item-title mx-auto">Competitor Type:</p>
        <input class="mx-auto" id="scoreCompType" type="text" placeholder="Apprentice" />
        <p class="item-title mx-auto">Competition Year:</p>
        <input class="mx-auto" id="scoreYear" type="number" placeholder="2020" />

    </main>
    
    <section class="main-container mx-auto text-center">
        
        <p class="mini-title mx-auto">Event 1</p>

        <div class="row mx-auto">
            <p class="score-title mx-auto">Score</p>
            <p class="score-title mx-auto">Minutes</p>
            <p class="score-title mx-auto">Seconds</p>
        </div>

        <div class="row mx-auto">
            <input class="score-input mx-auto" id="score" type="text" placeholder="100" />
            <input class="score-input mx-auto" id="time-min" type="text" placeholder="10" />
            <input class="score-input mx-auto" id="time-sec" type="text" placeholder="59" />
        </div>

    </section>

    <section class="main-container mx-auto text-center">
        
        <p class="mini-title mx-auto">Event 2</p>

        <div class="row mx-auto">
            <p class="score-title mx-auto">Score</p>
            <p class="score-title mx-auto">Minutes</p>
            <p class="score-title mx-auto">Seconds</p>
        </div>

        <div class="row mx-auto">
            <input class="score-input mx-auto" id="score" type="text" placeholder="100" />
            <input class="score-input mx-auto" id="time-min" type="text" placeholder="10" />
            <input class="score-input mx-auto" id="time-sec" type="text" placeholder="59" />
        </div>

    </section>

    <section class="main-container mx-auto text-center">
        
        <p class="mini-title mx-auto">Event 3</p>

        <div class="row mx-auto">
            <p class="score-title mx-auto">Score</p>
            <p class="score-title mx-auto">Minutes</p>
            <p class="score-title mx-auto">Seconds</p>
        </div>

        <div class="row mx-auto">
            <input class="score-input mx-auto" id="score" type="text" placeholder="100" />
            <input class="score-input mx-auto" id="time-min" type="text" placeholder="10" />
            <input class="score-input mx-auto" id="time-sec" type="text" placeholder="59" />
        </div>

    </section>

    <section class="main-container mx-auto text-center">
        
        <p class="mini-title mx-auto">Event 4</p>

        <div class="row mx-auto">
            <p class="score-title mx-auto">Score</p>
            <p class="score-title mx-auto">Minutes</p>
            <p class="score-title mx-auto">Seconds</p>
        </div>

        <div class="row mx-auto">
            <input class="score-input mx-auto" id="score" type="text" placeholder="100" />
            <input class="score-input mx-auto" id="time-min" type="text" placeholder="10" />
            <input class="score-input mx-auto" id="time-sec" type="text" placeholder="59" />
        </div>

    </section>

    <section class="main-container mx-auto text-center">
        
        <p class="mini-title mx-auto">Event 5</p>

        <div class="row mx-auto">
            <p class="score-title mx-auto">Score</p>
            <p class="score-title mx-auto">Minutes</p>
            <p class="score-title mx-auto">Seconds</p>
        </div>

        <div class="row mx-auto">
            <input class="score-input mx-auto" id="score" type="text" placeholder="100" />
            <input class="score-input mx-auto" id="time-min" type="text" placeholder="10" />
            <input class="score-input mx-auto" id="time-sec" type="text" placeholder="59" />
        </div>

    </section>

    <section class="main-container mx-auto text-center">
        
        <button class="button" id="year">Save Changes</button>

    </section>

    {{> main/nav-menu-block}}

</body>