<header class="header-container mx-auto">
    
    <h1 class="title mx-auto">Score Entry</h1>
    
    <img class="logo row mx-auto" src="/assets/images/logo.png" alt="Santee Cooper logo" /> 

</header>

<main class="main-container mx-auto text-center">
    
    <p class="item-title">Competitor Number</p>
    <input id="" type="text" placeholder="" />

    <p class="item-title">First Name</p>
    <input id="" type="text" placeholder="" />

    <p class="item-title">Last Name</p>
    <input id="" type="text" placeholder="" />

    <p class="item-title">Organization Name</p>
    <input id="" type="text" placeholder="" />

    <p class="item-title">Team Name</p>
    <input id="" type="text" placeholder="" />

    <p class="item-title">Competitor Type</p>
    <select id="">
        <option value="">Apprentice</option>
        <option value="">Journeyman</option>
    </select>

    <p class="item-title">Competition Year</p>
    <input id="" type="text" placeholder="" value="2020" />
    
</main>

<section class="main-container mx-auto text-center">
    
    <p class="item-title">Event 1</p>

    <p class="item-title">Score</p>
    <input id="" type="text" placeholder="" />

    <p class="item-title">Minutes</p>
    <input id="" type="text" placeholder="" />

    <p class="item-title">Seconds</p>
    <input id="" type="text" placeholder="" />

</section>
    
<section class="main-container mx-auto text-center">
    
    <p class="item-title">Event 2</p>

    <p class="item-title">Score</p>
    <input id="" type="text" placeholder="" />

    <p class="item-title">Minutes</p>
    <input id="" type="text" placeholder="" />

    <p class="item-title">Seconds</p>
    <input id="" type="text" placeholder="" />

</section>

<section class="main-container mx-auto text-center">
    
    <p class="item-title">Event 3</p>

    <p class="item-title">Score</p>
    <input id="" type="text" placeholder="" />

    <p class="item-title">Minutes</p>
    <input id="" type="text" placeholder="" />

    <p class="item-title">Seconds</p>
    <input id="" type="text" placeholder="" />

</section>

<section class="main-container mx-auto text-center">
    
    <p class="item-title">Event 4</p>

    <p class="item-title">Score</p>
    <input id="" type="text" placeholder="" />

    <p class="item-title">Minutes</p>
    <input id="" type="text" placeholder="" />

    <p class="item-title">Seconds</p>
    <input id="" type="text" placeholder="" />

</section>

<section class="main-container mx-auto text-center">
    
    <p class="item-title">Event 5</p>

    <p class="item-title">Score</p>
    <input id="" type="text" placeholder="" />

    <p class="item-title">Minutes</p>
    <input id="" type="text" placeholder="" />

    <p class="item-title">Seconds</p>
    <input id="" type="text" placeholder="" />

</section>

<section class="main-container mx-auto text-center">
    
    <button class="button" id="year">Submit</button>

    <div class="row mx-auto text-center">

        <button class="nav-button mx-auto" id=""><</button>
        <button class="nav-button mx-auto" id="">+</button>
        <button class="nav-button mx-auto" id="">></button>
    
    </div>

</section>

<nav class="main-container mx-auto text-center">
    
    <button class="button" id="home">Home</button>
    <button class="button" id="year">Year Setup</button>
    <button class="button" id="comp">Competitor Entry</button>
    <button class="button" id="score">Score Entry</button>
    <button class="button" id="rep">Reports</button>
    <button class="button" id="help">Instructions</button>

</nav>