<head>
    <title>Annual Lineworkers Rodeo Scoring | {{title}}</title>
    {{> main/head-block}}
    <!-- view page js script -->
    <script type="text/javascript" src="/assets/js/view.js"></script>
</head>
<body class="background">

    {{> main/title-block}}

    <main class="main-container mx-auto text-center">

        <select id="view-menu">
            <option>Tiers</option>
            <option>Events</option>
            <option>Organizations</option>
            <option>Years</option>
        </select>

        <button class="button" id="view-menu-button">View Items</button>

    </main>

    <section class="main-container mx-auto text-center hide" id="view-container"></section>

    <section class="main-container mx-auto text-center">

        <select id="add-menu">
            <option>Tiers</option>
            <option>Events</option>
            <option>Organizations</option>
            <option>Years</option>
        </select>

        <button class="button" id="add-menu-button">Add Item</button>

        <div id="add-container"></div>

    </section>

    {{> main/nav-menu-block}}

</body>
