<header class="header-container mx-auto">
    
    <h1 class="title mx-auto">Annual Lineworkers Rodeo Scoring</h1>
    
    <img class="logo row mx-auto" src="/assets/images/logo.png" alt="Santee Cooper logo" /> 

</header>

<main class="main-container mx-auto text-center">

    <select id="view-menu">
        <option>Tiers</option>
        <option>Events</option>
        <option>Organizations</option>
        <option>Years</option>
    </select>

    <button class="button" id="view-menu-button">View Items</button>

</main>

<section class="main-container mx-auto text-center hide" id="view-container"></section>

<section class="main-container mx-auto text-center">

    <select id="add-menu">
        <option>Tiers</option>
        <option>Events</option>
        <option>Organizations</option>
        <option>Years</option>
    </select>

    <button class="button" id="add-menu-button">Add Item</button>

    <div id="add-container"></div>

</section>

<nav class="main-container mx-auto text-center">

    <button class="button" id="home">Home</button>
    <button class="button" id="view">View/Edit</button>
    <button class="button" id="year">Year Setup</button>
    <button class="button" id="competitors">Competitors</button>
    <button class="button" id="scores">Scores</button>
    <button class="button" id="reports">Reports</button>
    <button class="button" id="help">Help</button>

</nav>