<head>
    <title>Annual Lineworkers Rodeo Scoring | {{title}}</title>
    {{> main/head-block}}
    <!-- view page js script -->
    <script type="text/javascript" src="/assets/js/view.js"></script>
</head>
<body class="background mx-auto">

    {{> main/title-block}}

    <main>

        <section class="container mx-auto text-center">

            <p class="subtitle mx-auto">View and Edit Items</p>

            <hr class="line full mx-auto">

            <p class="text mx-auto">Select a Category to View/Edit</p>

            <select id="view-menu" class="full mx-auto">
                <option>Tiers</option>
                <option>Events</option>
                <option>Organizations</option>
                <option>Years</option>
            </select>

            <button class="button blue" id="view-menu-button">Show Items</button>

            <div class="mx-auto text-center" id="view-container"></div>

        </section>


        <section class="container mx-auto text-center">

            <p class="subtitle mx-auto">Add Items</p>

            <hr class="line full mx-auto">

            <p class="text mx-auto">Select an Item to Add</p>

            <select id="add-menu" class="full mx-auto">
                <option>Tiers</option>
                <option>Events</option>
                <option>Organizations</option>
                <option>Years</option>
            </select>

            <div id="add-container"></div>

        </section>
        
    </main>

</body>
