<header class="header-container container mx-auto">
    <div class="row">
        <h1 class="title mx-auto">Rodeo Scoring Year Setup</h1>
    </div>
    <img class="logo row mx-auto" src="assets/images/logo.png" alt="Santee Cooper logo" /> 
</header>

<main class="container text-center">
    <input id="year-input" type="text" placeholder="Enter Year" />
    <button class="button" id="year-enter">Enter</button>
</main>