<header class="header-container mx-auto">

    <h1 class="title mx-auto">Rodeo Scoring Year Setup</h1>
    
    <img class="logo row mx-auto" src="/assets/images/logo.png" alt="Santee Cooper logo" /> 

</header>

<main class="main-container mx-auto text-center">
    <!-- pull info from db for most recent year? -->
    <p class="item-title mx-auto">Competition Year</p>
    <input id="year-input" type="text" placeholder="Enter Year" />

</main>

<main class="main-container mx-auto text-center">

    <p class="item-title mx-auto">Select Competition Tier</p>
    <select id="tier-input">
        <option>Apprentice</option>
        <option>Journeyman</option>
        <option>Add New</option>
    </select>

    <button class="button" id="year-enter">Add Tier</button>

</main>

<!-- Get active tiers from db and populate with active events -->

<section class="main-container mx-auto text-center">

    <p class="item-title">Apprentice Tier</p>

    <input id="year-input" type="text" placeholder="Enter Event" value="Knot Tying" />
    <input id="year-input" type="text" placeholder="Enter Event" value="Written Exam" />
    <input id="year-input" type="text" placeholder="Enter Event" value="Pole Climb" />

    <p class="item-title mx-auto">Add an Event</p>
    <input id="year-input" type="text" placeholder="Enter Event" />
    <button class="button" id="year-enter">Enter</button>

</section>

<section class="main-container mx-auto text-center">

    <p class="item-title">Journeyman Tier</p>

    <input id="year-input" type="text" placeholder="Enter Event" value="Changeout" />
    <input id="year-input" type="text" placeholder="Enter Event" value="Excavation" />
    <input id="year-input" type="text" placeholder="Enter Event" value="Pole Climb" />

    <p class="item-title mx-auto">Add an Event</p>
    <input id="year-input" type="text" placeholder="Enter Event" />
    <button class="button" id="year-enter">Enter</button>

</section>

<section class="main-container mx-auto text-center">

    <button class="button" id="year">Save Changes</button>

</section>

<nav class="main-container mx-auto text-center">
    
    <button class="button" id="home">Home</button>
    <button class="button" id="year">Year Setup</button>
    <button class="button" id="comp">Competitor Entry</button>
    <button class="button" id="score">Score Entry</button>
    <button class="button" id="rep">Reports</button>
    <button class="button" id="help">Instructions</button>

</nav>