<nav class="mx-auto text-center">
  <div class="row text-center mx-auto">
    <button class="button green mx-auto" id="home">Home</button>
    <button class="button green mx-auto" id="view">View/Edit</button>
  </div>
  <div class="row text-center mx-auto">
    <button class="button green mx-auto" id="year">Year Setup</button>
    <button class="button green mx-auto" id="comp">Competitors</button>
  </div>
  <div class="row text-center mx-auto">
    <button class="button green mx-auto" id="score">Scores</button>
    <button class="button green mx-auto" id="reports">Reports</button>
  </div>
</nav>