<header class="text-center mx-auto">
    
    <img class="logo row mx-auto" src="/assets/images/logo.png" alt="Santee Cooper logo" /> 
    
    {{> main/nav-menu-block}}

    <hr class="line full mx-auto">

    <p class="title mx-auto">{{title}}</p>

    <hr class="line full mx-auto">

</header>