<header class="header-container mx-auto">
    
    <h1 class="title mx-auto">{{title}}</h1>
    
    <img class="logo row mx-auto" src="/assets/images/logo.png" alt="Santee Cooper logo" /> 

</header>