/* page width, global font styling, and background */
.background {
  background-color: #9bb4a5;
  width: 400px;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
/* header elements */
.title {
  color: #275937;
  padding: 5px;
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
  width: 375px;
  max-width: 90%;
}
.line {
  width: 375px;
  border-top: solid 1px #275937;
  margin: 5px 0 15px 0;
}
.logo {
  width: 100px;
}
/* page elements */
.container {
  background-color: #9bb4a5;
  border-radius: 5px;
  box-shadow: 1px 1px 3px black;
  margin: 12.5px;
  padding: 15px 0 15px 0;
  width: 375px;
  /* max-width: 90%; */
}
.result-container {
  background-color: lightgray;
  border-radius: 5px;
  box-shadow: 1px 1px 3px black;
  margin: 10px 0 10px 0;
  padding: 10px;
  width: 90%;
}
.row-container {
  width: 90%;
}
/* section elements */
.subtitle {
  color: #275937;
  padding: 5px;
  margin: 0 0 5px 0;
  font-size: 1.2em;
  width: 90%;
  text-align: center;
}
.text {
  font-size: 0.9em;
  color: #275937;
  margin: 5px;
  padding: 5px;
  text-align: center;
}
.score-title {
  width: 75px;
}
/* buttons */
.button {
  outline: none;
  border: none;
  border-radius: 40px;
  box-shadow: 1px 1px 3px black;
  margin: 10px;
  padding: 5px;
  width: 40%;
}
.square-button {
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px black;
  margin: 0 0 5px 5px;
  padding: 7px;
  font-size: 1.5em;
  height: 2em;
  width: 2em;
  text-align: center;
}
.button:hover, .square-button:hover {
  cursor: pointer;
  outline: none;
  box-shadow: 3px 3px 6px black;
}
.button:active, .square-button:active {
  cursor: pointer;
  outline: none;
  box-shadow: 0 0 0 black;
}
.button:focus, .square-button:focus {
  cursor: pointer;
  outline: none;
}
.red {
  background-color: #C00000;
  color: white;
}
.blue {
  background-color: rgb(0, 75, 155);
  color: white;
}
.clear {
  background-color: #9bb4a5;
  color: #275937;
}
.green {
  background-color: #275937;
  color: white;
}
/* user input elements */
input:enabled,
input:focus,
input:active {
  background-color: white;
  color: #275937;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 3px black;
  margin-bottom: 10px;
  padding: 5px;
  outline: none;
  height: 3em;
}
select:enabled,
select:focus,
select:active {
  background-color: white;
  color: #275937;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 3px black;
  margin: 0 0 5px 0;
  padding: 5px;
  text-align: center;
  outline: none;
}
/* warning element on view page */
.warning {
  background-color: rgb(192, 0, 0);
  color: white;
  border: none;
  border-radius: 15px;
  box-shadow: 1px 1px 3px black;
  width: 90%;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
}
/* width classes */
.small {
  width: 25%;
}
.half {
  width: 65%;
}
.large {
  width: 79%;
}
.full {
  width: 337px;
}
/* prevents mouse clicks on child elements for vector icons */
svg > * {
  pointer-events: none;
}
/* prevents default link styling */
a, a:hover, a:focus, a.active {
  text-emphasis: none !important;
  text-decoration: none !important;
  color: white;
  padding: 10px !important;
  margin: 25px !important;
  outline: none;
  border: none;
  border-radius: 40px;
  width: 40%;
  display: block;
}