/* header */
/*========================================================*/
/* header */
header {
    margin-top: 2.5%;
}
/* top navbar title branding */
h1 {
    font-size: 20px;
    font-weight: normal;
    color: white;
}
/* bottom navbar links */
a {
    font-size: 20px;
    color: rgb(39, 89, 55);
}
a:hover {
    font-size: 20px;
    color: rgba(39, 89, 55, 50%);
}
/* logo */
.logo-image {
    width: auto;
    height: 50px;
}
/* main section */
/*========================================================*/
/* main image */
.main-image {
    max-width: 100%;
    width: 100%;
    box-shadow: 5px 5px 5px lightgray;
}