<!DOCTYPE html>

<html lang="en-us">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Santee Cooper | Rodeo Scoring</title>
    <!-- bootstrap style sheet -->
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap" rel="stylesheet"/>
    <!-- local style sheet -->
    <link rel="stylesheet" type="text/css" href="./assets/css/style.css"/>
    <!-- local js script -->
    <script type="text/javascript" src="./assets/js/script.js"></script>
</head>

<body>

    <header class="home-header row">
        <a href="index.html" class="title">Annual Lineworkers Rodeo</a>
        <img src="assets/images/logo.png" alt="Santee Cooper logo" class="logo"/> 
    </header>
    
    <main>
        <img src="assets/images/distribution-lines.jpg" alt="image of electrical distribution lines" class="main-image"/>
    </main>
    
    <footer>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="data-entry.html">Data Entry</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="reporting.html">Reporting</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="database-view.html">Database View</a>
            </li>
        </ul>
    </footer>

</body>

</html>